
<div class="card shadow-sm">
    <img src="{{ article.image }}" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>

        <p class="card-text">
            {% set cutoff = 80 %}
            {{ article.text|length > cutoff ? article.text|slice(0, cutoff) ~ '...' : article.text  }}
        </p>

        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a href="{{ path('article_view', {id: article.id}) }}" class="btn btn-sm btn-outline-secondary">View</a>
                <a href="{{ path('article_edit', {id: article.id}) }}" class="btn btn-sm btn-outline-secondary">Edit</a>
            </div>

            <small class="text-muted">  
                {{ counter.wordsPerMinuteCalculator(article.text) }} minutes.
            </small>
        </div>
    </div>
</div>
